
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
scroll-behavior:smooth;

}

body{
background:#0f172a;
color:white;

}


nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
position:fixed;
width:100%;

}
.logo{
color:#38bdf8;

}

nav ul{
display:flex;
list-style:none;
}



nav ul li{
margin-left:20px;

}



nav ul li a{
color:white;
text-decoration:none;
}



nav ul li a:hover{
color:#38bdf8;
}


#home{
height:100vh;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

}

#home span{
color:#38bdf8;

}



.btn{
margin-top:20px;
padding:12px 25px;
border:none;
background:#38bdf8;
cursor:pointer;
border-radius:5px;
}



.btn:hover{
background:white;
}


section{
padding:80px 10%;

}

.section-title{
text-align:center;
margin-bottom:30px;
color:#38bdf8;

}

.about-container{

display:flex;
gap:30px;
align-items:center;
justify-content:center;
}



.about-container img{
width:250px;
height: 250px;
border-radius:50%;
}

.skills{
display:flex;
gap:20px;
justify-content:center;

}

.skill{
background:#020617;
padding:10px 20px;
border-radius:5px;

}



.skill:hover{
transform:translateY(-10px);

}


.projects{

display:flex;

gap:20px;

justify-content:center;

}



.project-card{
background:#020617;
padding:20px;
border-radius:10px;
width:200px;

}



.project-card:hover{
transform:translateY(-10px);

}

.projects h3{
    font-size: bold;
}

.projects p{
    color:grey;
}
.contact{

text-align:center;

}



.contact input,
.contact textarea{

width:300px;
padding:10px;
margin:10px;

}



footer{
text-align:center;
padding:20px;
background:#020617;

}
